@page "/"

<PageTitle>CPS Management Application</PageTitle>

<h1>Non-Member Clients</h1>

Welcome to your new app.<br />
This application was developed as a single point of contact for non-members within the Care & Support Pay Equity Claim work.
<br />
<br />
We will be using the non-member data relating to people covered by our Care & Support Pay Equity claim that we have been given by employers.<br />

We will need to be able to verify how we used it [data?], who we contacted and how many may have joined the PSA as a result of the contact<br />

Staff from across the union will be conducting calling, and we’ll need to allow for providing small lists of non-members egg 20, through to larger lists eg 50 at a time ok<br />

<br />
<br />
<br />
<h4>General Guidance:</h4>
<p>
    <ol>Ensure your number is blocked when you ring</ol>
    <ol>If get a voicemail hang up - we may ring them again</ol>
    <ol>If people no longer work at named employer where are they now as they may still be under coverage?</ol>
    <ol>If you get a response requesting industrial assistance please refer them to ring 0508 367 772</ol>
    <ol>Please ensure you cover off the highlighted text</ol>
</p>
