@page "/"
@using Microsoft.EntityFrameworkCore
@using blzCPS.Data

@inject IDbContextFactory<blzCPSContext> DbFactory

<PageTitle>Management Application</PageTitle>

<h1>Basic Web App Information</h1>
Welcome to your new app.
<br />
<br />
This app will show a basic database connection and web application to manage the data.
<p>
   
</p>


@* @code {
    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        try
        {
            context.Database.CanConnect();
            Console.WriteLine("Database connection successful");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Database connection failed: {ex.Message}");
            throw;
        }
    }
} *@