<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">blzCPS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="/view-client" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> View
            </NavLink>
        </div>

        <div class="nav-item px-1">
            <NavLink class="nav-link" href="newclient">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create New Client
            </NavLink>
        </div>
    </nav>
</div>

